<div class="container-admin">
    <div class="admin-books active">
        <div class="admin-control">
            <a href="/admin/books/add" class="btn book__add-btn width-100">
                Thêm sách
                <i
                    class="plus-icon fas fa-plus"
                ></i>
            </a>
            <a href=""class="btn chart-btn width-100">
                Thống kê
                <i
                    class="
                        chart-icon
                        fas
                        fa-chart-pie
                    "
                ></i>
            </a>
            <a href=""class="btn sort-btn width-100">
                <p class="sort-title">Sắp xếp</p>
                <i
                    class="
                        left-icon
                        fas
                        fa-chevron-left
                    "
                ></i>
                <ul class="sort-list">
                    <li class="sort-item">ID</li>
                    <li class="sort-item">Nhiều sách</li>
                    <li class="sort-item">Ít sách</li>
                    <li class="sort-item">Mượn nhiều</li>
                    <li class="sort-item">Mượn ít</li>
                </ul>
            </a>
        </div>
        <div class="row">
            <div class="col l-2">
            </div>
            <div class="col l-10">
                <div class="book__label">
                    <p class="id">ID sách</p>
                    <p class="name">Tên sách</p>
                    <p class="type">Thể loại</p>
                    <p class="review">Giới thiệu</p>
                    <p class="quantity">Số lượng</p>
                    <p class="img">Ảnh</p>
                    <p class="like">Lượt thích</p>
                    <p class="action">Tùy chọn</p>
                </div>
                <div class="book__list">

                    {{#each data}}
                    <div class="book__item">
                        <section class="book__item-id">
                            <p class="id_text">{{this.IdBook}}</p>
                        </section>
                        <section class="book__item-name">
                            <p class="name_text">{{this.Name}}</p>
                        </section>
                        <section class="book__item-type">
                            <p class="type_text">{{this.TypeBook}}</p>
                        </section>
                        <section class="book__item-review">
                            <p class="review_text">{{this.Review}}</p>
                        </section>
                        <section class="book__item-quantity">
                            <p class="quantity_text">{{this.Quantity}}</p>
                        </section>
                        <section class="book__item-img">
                            <section class="img" style="background-image: url((/img/books/{{this.ImgBook}});"></section>
                        </section>
                        <section class="book__item-like">
                            <p class="like_text">{{this.LikeBook}}</p>
                        </section>
                        <section class="book__item-action">
                            <section class="action_btn">
                                <i class="action_update-icon fas fa-pen-square"></i>
                            </section>
                            <section class="action_btn">
                                <i class="action_delete-icon fas fa-trash-alt"></i>
                            </section>
                        </section>
                    </div>                    
                    {{/each}}
                    
                </div>
                <div class="pagination">
                    <ul class="pagination-list">
                        <li class="pagination-item">
                            <a href="" class="pagination-prev"><i class="fas fa-angle-double-left"></i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">1</a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">2</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-number">3</i></a>
                        </li>
                        <li class="pagination-item">
                            <a href="" class="pagination-next"><i class="fas fa-angle-double-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>