<div class="container-admin">
    <div class="admin-users">
        <div class="row">
            <div class="admin-control">
                <form id="form-filter">
                <input type="text" id="filter" placeholder="Lọc người dùng" onkeyup="onFilterUser()">
                <i class="fas fa-filter"></i>
            </form>
            </div>
            <div class="col l-2">
            </div>
            <div class="col l-10">
                <div class="user__label">
                    <p class="id">STT</p>
                    <p class="username">Tài khoản</p>
                    <p class="fullname">Họ và tên</p>
                    <p class="phone">Email</p>
                    <p class="address">Địa chỉ</p>
                    <p class="lockStatus">Ngày bị khóa</p>
                    <p class="lockNumber">Số lần bị khóa</p>
                    <p class="score">Điểm</p>
                </div>
                <div class="user__list">
                    {{#each data}}
                    <div class="user__item" style="display: none">
                        <section class="user__item-id"><p class="id">{{sum @index 1}}</p></section>
                        <section class="user__item-username"><p class="username">{{this.Username}}</p></section>
                        <section class="user__item-fullname"><p class="fullname">{{this.Name}}</p></section>
                        <section class="user__item-email"><p class="email">{{this.Email}}</p></section>
                        <section class="user__item-address"><p class="address">{{this.Address}}</p></section>
                        <section class="user__item-lockStatus"><p class="lockStatus">{{this.LockStatus}}</p></section>
                        <section class="user__item-lockNumber"><p class="lockNumber">{{this.LockNumber}}</p></section>
                        <section class="section user__item-score">
                            <p class="score">{{this.Score}}</p>
                        </section>
                    </div> 
                    {{/each}}                                                   
                </div>
                <div id="pagination"></div>
            </div>
        </div>
    </div>
</div>