<div class="add__books">
    <h1 class="create__books-title">Cập nhật sách</h1>
    <form method="POST" action="./add" class="create__books-contain"
    encType="multipart/form-data">
        <div class="form-group">
            <label for="book__name" class="form-label">Tên sách</label>
            <input
                type="text"
                class="form-control"
                id="book__name"
                value="{{body.bookName}}"
                name="bookName"
                placeholder="Nhập vào tên sách"
            />
            <span class="form-message">{{errMess.bookName}}</span>
        </div>
        <div class="group">
            <div class="form-group group__mini">
                <label for="typeBook" class="form-label">Loại sách</label>
                <section class="typeBook_wrap">
                    <select class="form-control" id="typeBook" name="typeBook" data-option="{{body.typeBook}}">
                        <option selected disabled>Loại sách:</option>
                        <option value="Chính trị - Pháp luật">Chính trị - Pháp luật</option>
                        <option value="Khoa học công nghệ - Kinh tế">Khoa học công nghệ - Kinh tế</option>
                        <option value="Văn học nghệ thuật">Văn học nghệ thuật</option>
                        <option value="Văn hóa xã hội - Lịch sử">Văn hóa xã hội - Lịch sử</option>
                        <option value="Giáo trình">Giáo trình</option>
                        <option value="Truyện, tiểu thuyết">Truyện, tiểu thuyết</option>
                        <option value="Tâm lý, tâm linh, tôn giáo">Tâm lý, tâm linh, tôn giáo</option>
                        <option value="Sách thiếu nhi">Sách thiếu nhi</option>
                    </select>
                    <span class="arrow-icon">
                        <i class="fas fa-caret-down"></i>
                    </span>
                </section>
                <span class="form-message">{{errMess.typeBook}}</span>
            </div>
            <div class="form-group group__mini">
                <label for="numberBook" class="form-label">Số lượng</label>
                <input
                    type="number"
                    class="form-control"
                    id="numberBook"
                    name="numberBook"
                    value="{{body.numberBook}}"                    
                    min="0"
                    max="150"
                    placeholder="Nhập số lượng"
                />
                <span class="form-message">{{errMess.numberBook}}</span>
            </div>
        </div>
        <div class="form-group">
            <label for="imgBook" class="form-label">Chọn ảnh</label>
            <label class="form-control imgBook" for="imgBook">
                <i class="fas fa-images"></i>
                Thêm ảnh sách
            </label>
            <input
                type="file"
                class=""
                id="imgBook"
                name="imgBook"
                accept="image/*"
            />
            <span class="form-message">{{errMess.imageBook}}</span>
        </div>
        <div class="form-group author-group">
            <label for="checkAuthor" class="form-label">Tác giả (s):</label>
            <ul class="author-list form-author" data-check="{{body.IdAuthor}}">
                {{#each data}}
                <li class="author-item">
                    <input hidden type="checkbox" class="check" id="check{{this.IdAuthor}}" name="{{this.IdAuthor}}" value="{{this.IdAuthor}}">
                    <section class="author-item-wrap">
                        <img
                            src="/img/authors/{{this.ImgAuthor}}"
                            alt="Ảnh tác giả"
                            class="author-item-img"
                        />
                        <p class="author-item-name">{{this.Name}}</p>
                    </section>                       
                    <label for="check{{this.IdAuthor}}" class="author-btn"> 
                        <span class="author-item-delete">
                            <i class="fas fa-minus"></i>
                        </span>
                    </label>     
                </li>
                {{/each}}
                
                <section class="author-action">
                    <a class="author-link-add">
                        <i class="fas fa-plus"></i>
                        <p>Thêm tác giả</p>
                    </a>
                </section>
            </ul>
            <span class="form-message">{{errMess.authorBook}}</span>
        </div>
        <div class="form-group">
            <label for="description" class="form-label">Mô tả</label>
            <textarea
                class="form-control"
                id="description"
                name="description"
                value="{{body.description}}"
                row="3"
                placeholder="Mô tả về sách...."
            ></textarea>
            <span class="form-message">{{errMess.description}}</span>
        </div>
        <button class="btn btn-form btn-submit" type="submit">Lưu</button>
        <button class="btn btn-form btn-cancel" type="button" onclick="onCancel()">Trở lại</button>
    </form>
</div>
