<div class="container-users">
    <div class="book">
        <div class="book-detail">
            <div class="book-detail-up">
                <img src="/img/books/{{data.ImgBook}}" alt="" class="book-img">
                <div class="book-info">
                    <h3 class="book-info-name">{{data.Name}}</h3>
                    <p class="book-info-author">Tác giả: 
                        <span>{{data.NameAuthor}}</span>
                    </p>
                    <p class="book-info-typebook">Thể loại:
                        <span>{{data.TypeBook}}</span>
                    </p>
                    {{!-- <p class="book-info-like">Lượt đọc:
                        <span>{{data.LikeBook}}</span>   
                    </p> --}}
                    <p class="book-info-quantity">Số lượng: 
                        <span>{{data.Quantity}}</span>
                    </p>

                    <button class="btn btn-primary btn-add-cart">Mượn sách</button>
                </div>
            </div>
            <p class="book-info-review">{{data.Review}}</p>
        </div>
    </div>
</div>