<div class="container-users" data-id="{{data.IdUser}}" name="{{data.Username}}">
    <!-- HOME -->
    <div id="home" class="home">
        <div class="slider">
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/other/slide1.png);"
            >
                <h2 class="slider__item-h2">BẠN ĐANG MUỐN TÌM SÁCH...?</h2>
                <h1 class="slider__item-h1">THƯ VIỆN NBLUE</h1>
                <p class="slider__item-p">Đến với chúng tôi, bạn sẽ được thỏa mãn trong không gian sách tuyệt vời nhất. Hãy cùng nhau khám phá những điều mới mẻ và kiến thức lí thú đang chời đợi bạn!</p>
                <a href="" class="btn slider__item-btn">TÌM HIỂU THÊM</a>
            </div>
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/other/slide2.png);"
            >
                <h2 class="slider__item-h2">BẠN ĐANG MUỐN TÌM SÁCH...?</h2>
                <h1 class="slider__item-h1">THƯ VIỆN NBLUE</h1>
                <p class="slider__item-p">Đến với chúng tôi, bạn sẽ được thỏa mãn trong không gian sách tuyệt vời nhất. Hãy cùng nhau khám phá những điều mới mẻ và kiến thức lí thú đang chời đợi bạn!</p>
                <a href="" class="btn slider__item-btn">TÌM HIỂU THÊM</a>
            </div>
            <div
                class="slider__item"
                style="background-image: linear-gradient(0, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
                url(/img/other/slide3.png);"
            >
                <h2 class="slider__item-h2">BẠN ĐANG MUỐN TÌM SÁCH...?</h2>
                <h1 class="slider__item-h1">THƯ VIỆN NBLUE</h1>
                <p class="slider__item-p">Đến với chúng tôi, bạn sẽ được thỏa mãn trong không gian sách tuyệt vời nhất. Hãy cùng nhau khám phá những điều mới mẻ và kiến thức lí thú đang chời đợi bạn!</p>
                <a href="" class="btn slider__item-btn">TÌM HIỂU THÊM</a>
            </div>
        </div>
        <div class="typebook">
            <div class="title">
                <h1 class="title__big">Chào mừng tới với NBLUE</h1>
                <h3 class="title__small">Chào mừng đến với thư viện sách phổ biến nhất hiện nay</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="typebook__list">
                    <div class="row">
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >KHOA HỌC</a></h2>
                                <p class="typebook__item-info">Khoa học là chặng đường con người đã đi qua để chinh phục thiên nhiên, vũ trụ.</p>
                                <a href="/books/khcn" class="typebook__item-link">Xem thêm</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >VĂN HỌC</a></h2>
                                <p class="typebook__item-info">Sách văn học tái hiện lại những bình diện của cuộc sống, của xã hội và con người.</p>
                                <a href="/books/vhnt" class="typebook__item-link">Xem thêm</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >TÂM LÝ</a></h2>
                                <p class="typebook__item-info">Sách tâm lý nghiên cứu, phân tích về hiện tượng tâm lý,tinh thần nảy sinh trong não người.</p>
                                <a href="/books/tltg" class="typebook__item-link">Xem Thêm</a>
                            </div>
                        </div>
                        <div class="col l-3">
                            <div class="typebook__item">
                                <i
                                    class="typebook__item-icon fas fa-book-open"
                                ></i>
                                <h2 class="typebook__item-title"><a
                                        href=""
                                    >THIẾU NHI</a></h2>
                                <p class="typebook__item-info">Sách thiếu nhi là bữa cơm tinh thần không thể thiếu của các động giả nhỏ tuổi</p>
                                <a href="/books/stn" class="typebook__item-link">Xem thêm</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="topbook">
            <div class="title">
                <h1 class="title__big color-fff">Danh mục sách hàng đầu</h1>
                <h3 class="title__small color-fff">Dưới đân là một số danh mục sách hàng đầu hiện có.</h3>
                <section class="title__icon color-fff">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="topbook__title">
                    <div class="topbook__title-wrap">
                        <ul class="topbook__title-list">
                            <li onclick="onAcTopBook(this)" class="topbook__title-item active">Sách khoa học</li>
                            <li onclick="onAcTopBook(this)" class="topbook__title-item">Sách văn học</li>
                            <li onclick="onAcTopBook(this)" class="topbook__title-item">Sách thiếu nhi</li>
                            <li onclick="onAcTopBook(this)" class="topbook__title-item">Khác</li>
                        </ul>
                    </div>
                </div>
                <div class="topbook__container">
                    <div class="topbook__slide active">
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p class="book__item-hover-author">Dr.Machale
                                    Dr.Machale Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Xem chi tiết</button>
                                <button class="btn btn__add-cart">Thêm vào giỏ</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book2.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale Lorem, ipsum dolor sit
                                    amet consectetur adipisicing elit.
                                    Dignissimos culpa adipisci ipsam error
                                    impedit at quis sapiente consequatur totam
                                    officiis provident fugiat, atque sequi nulla
                                    quod quaerat hic ducimus dolore!</p>

                                <p class="book__item-hover-author">Dr.Machale
                                    Dr.MachaleDr .MachaleDr.MachaleDr.Machale
                                    Dr.Machale Lorem ipsum dolor, sit amet
                                    consectetur adipisicing elit. Enim earum,
                                    odio non minima quos velit amet quis vero
                                    eligendi harum laboriosam dolor, ad dicta
                                    iure, saepe deleniti consequatur accusamus
                                    culpa.</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000000000000000000000000
                                    </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book3.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book4.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                        <div class="topbook__slider-item book__item">
                            <section
                                class="topbook__slider-item-display book__item-display"
                            >
                                <section
                                    class="topbook__slider-item-img book__item-display-img"
                                    style="background-image: url(/img/books/book5.png);"
                                ></section>
                            </section>
                            <div
                                class="topbook__slider-item-hover book__item-hover"
                            >
                                <p
                                    class="topbook__slider-item-hover-name book__item-hover-name"
                                >PENDRAGON Dr.Machale</p>
                                <p
                                    class="book__item-hover-author"
                                >Dr.Machale</p>
                                <section
                                    class="topbook__slider-item-hover-like book__item-hover-like"
                                >
                                    <p>Lượt thích: 1000 </p>
                                    <i class="fas fa-heart"></i>
                                </section>
                                <button class="btn btn__detail">Detail</button>
                                <button class="btn btn__add-cart">Add to cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="popularbook">
            <div class="title">
                <h1 class="title__big">Những đầu sách phổ biến nhất</h1>
                <h3 class="title__small">Những cuốn sách phổ biến nhất thơi gian gần đây tại thư viện NBLUE</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="row">
                    <div class="col l-6">
                        {{#each bookPopular}}
                        <div class="popularbook__detail" data-id="{{this.IdBook}}">
                            <img src="/img/books/{{this.ImgBook}}" alt="Ảnh minh họa" />
                            <div class="popularbook__detail-content">
                                <h1
                                    class="popularbook__detail-content-name"
                                >{{this.Name}}</h1>
                                <h2
                                    class="popularbook__detail-content-author"
                                >{{this.Author}}</h2>
                                <section
                                    class="popularbook__detail-content-like"
                                >
                                    Số lượng: {{this.Quantity}} </p> quyển
                                </section>
                                <p class="popularbook__detail-content-text">{{this.Review}}</p>
                                <a
                                    href="books/detail/{{this.IdBook}}"
                                    class="popularbook__detail-content-link"
                                >Xem thêm</a>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                    <div class="col l-6">
                        <div class="popularbook__books">
                            <div class="row">
                                {{#each bookPopular}}
                                <div class="col l-4">
                                    <section onclick="onActive(this)"  class="popularbook__book-link" data-id="{{this.IdBook}}">
                                        <img
                                            class="popularbook__books-img"
                                            src="/img/books/{{this.ImgBook}}"
                                        />
                                    </section>
                                </div>
                                {{/each}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="testimonial">
            <div class="title">
                <h1 class="title__big color-fff">Đôi lời của tác giả</h1>
                <h3 class="title__small color-fff">Một vài lời gửi tới độc giả của các tác giả</h3>
                <section class="title__icon color-fff">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="testimonial__container">
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                    <div class="testimonial__item">
                        <section class="testimonial__item-block">
                            <p class="testimonial__item-text">
                                You have great prices and the books are in the
                                shape as stated. Although it takes so long for
                                them to get to their destination. I have been
                                ordering for years and get great books in the
                                shape said.
                            </p>
                        </section>
                        <img
                            src="/img/testimonials1.png"
                            alt=""
                            class="testimonial__item-img"
                        />
                        <p class="testimonial__item-name">Jenifer Robbert</p>
                        <p class="testimonial__item-author">Author</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="topauthor">
            <div class="title">
                <h1 class="title__big">Các tác giả nổi tiếng</h1>
                <h3 class="title__small">Top tác giả nổi tiếng viết nhiều sách nhất trong thư viện của chúng tôi</h3>
                <section class="title__icon">
                    <i class="fas fa-book"></i>
                </section>
            </div>
            <div class="grid wide">
                <div class="row">
                    {{#each topAuthor}}
                    <div class="col l-3 padding-0">
                        <div
                            data-id="{{this.IdAuthor}}"
                            class="topauthor__item"
                            style="background-image: url(/img/authors/{{this.ImgAuthor}})"
                        >
                            <section class="topauthor__item-hover">
                                <a href="" class="topauthor__btn">Xem thêm</a>
                            </section>
                            <section class="topauthor__item-display">
                                <p class="topauthor__item-name">{{this.Name}}</p>
                                <p class="topauthor__item-author">Tác giả</p>
                            </section>
                        </div>
                    </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var popularBookDetail = document.querySelectorAll(".popularbook__detail");
    popularBookDetail[0].classList.add("active");

    function onActive(element) {
        let popularBookActive = document.querySelector(".popularbook__detail.active");
        let id = element.getAttribute("data-id")
        popularBookActive.classList.remove("active");
        for(let e of popularBookDetail){
            if(e.getAttribute("data-id") === id){
                e.classList.add("active");
                break;
            }
        }
    }

    function onAcTopBook(element){
        let topBookActive = document.querySelector(".topbook__title-item.active")
        topBookActive.classList.remove("active")
        element.classList.add("active");
    }

</script>
